.menu-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-section {
  margin-bottom: 10px;
}

.menu-title {
  font-size: 1.2em;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title::after {
  content: "▼"; /* Indicador de que se puede desplegar */
  font-size: 0.8em;
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.menu-section.open .menu-title::after {
  transform: rotate(-180deg); /* Rota el indicador cuando se abre la sección */
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espacio entre las tarjetas */
  margin-left: 10px; /* Desplaza ligeramente las tarjetas hacia la derecha */
}

.card-link {
  text-decoration: none;
}

.card {
  width: 80%; /* Ocupa todo el ancho disponible del contenedor */
  padding: 10px 12px; /* Reducido el padding para ajustar el tamaño de las tarjetas */
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s;
  color: #007bff;
  font-size: 0.9em; /* Reducción ligera del tamaño de la fuente */
}

.card:hover {
  transform: translateY(-3px);
}

.card.disabled {
  color: gray;
  cursor: not-allowed;
}

.card span {
  color: gray;
}
