.gestion-clientes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.gestion-clientes-table {
  width: 90%; /* Cambia el ancho a 90% para dejar márgenes laterales */
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
}

.gestion-clientes-table th, .gestion-clientes-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.gestion-clientes-table th {
  background-color: #f4f4f4;
}

.gestion-clientes-table tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.back-button:hover {
  background: #218838;
}
