.corte-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 20px;
}

.selector-grupo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.selector-grupo label {
  margin-right: 10px;
}

.corte-table-container {
  margin-top: 10px;
}

.corte-table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.corte-table th,
.corte-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.corte-table th {
  background-color: #f0f0f0;
}

/* Estilos para el sobrante de cobranza, bono, total de gastos y corte total */
.sobrante-cobranza,
.corte-bono,
.corte-total,
.corte-final-total {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.sobrante-cobranza strong,
.corte-bono strong,
.corte-total strong,
.corte-final-total strong {
  margin-right: 10px;
}

.semilla-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.semilla-input label {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

.back-button {
  background-color: #28a745;
  color: white;
}

.back-button:hover {
  background-color: #218838;
}

.add-button {
  background-color: #007bff;
  color: white;
}

.add-button:hover {
  background-color: #0056b3;
}

.guardar-button {
  background-color: #007bff;
  color: white;
}

.guardar-button:hover {
  background-color: #0056b3;
}
