.corte-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Mantiene el contenido centrado horizontalmente */
  justify-content: flex-start; /* Alinea el contenido hacia la parte superior */
  padding: 20px;
  margin-top: 20px; /* Añade un margen superior para separar el contenido de la parte superior */
}

.selector-grupo {
  display: flex;
  align-items: center; /* Alinea verticalmente el label y el selector */
  margin-bottom: 10px; /* Reduce el espacio debajo del selector */
}

.selector-grupo label {
  margin-right: 10px; /* Espacio entre el texto del label y el selector */
}

.corte-table-container {
  margin-top: 10px; /* Reduce el espacio entre el selector de grupo y la tabla */
}

.corte-table {
  width: 50%; /* Ajusta el ancho de la tabla según lo necesites */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.corte-table th,
.corte-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.corte-table th {
  background-color: #f0f0f0;
}

/* Estilos para el sobrante de cobranza, total de gastos y corte total */
.sobrante-cobranza,
.corte-total,
.corte-final-total {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.semilla-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.semilla-input label {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

.back-button {
  background-color: #28a745;
  color: white;
}

.back-button:hover {
  background-color: #218838;
}

.add-button {
  background-color: #007bff;
  color: white;
}

.add-button:hover {
  background-color: #0056b3;
}
