.detalle-grupo-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.detalle-grupo-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.detalle-grupo-table th,
.detalle-grupo-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.detalle-grupo-table th {
  background-color: #f4f4f4;
  text-align: center;
  font-weight: bold;
}

.detalle-grupo-table td {
  text-align: center;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Para hacer que la fila sea clicable */
.clickable-row {
  cursor: pointer; /* Cambia el cursor cuando pasa el ratón */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Añade transición suave en el color de fondo y la transformación */
}

/* Animación al pasar el ratón sobre la fila */
.clickable-row:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón */
  transform: scale(1.02); /* Agranda la fila ligeramente al pasar el ratón */
}

/* Otras propiedades opcionales para mejorar el estilo */
.clickable-row:hover td {
  font-weight: bold; /* Hace que el texto sea negrita cuando pasa el ratón */
}

.guardar-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px; /* Reduce el padding para hacer el botón más pequeño */
  font-size: 14px; /* Reduce el tamaño de la fuente */
  cursor: pointer;
  border-radius: 4px; /* Ajusta el borde redondeado */
  margin-right: 10px;
  transition: background-color 0.2s;
}

.guardar-button:hover {
  background-color: #0069d9;
}
