body {
  background-color: #f0f0f0; /* Fondo gris claro */
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

.dashboard-container,
.menu-container,
.cards-container {
  background-color: #f0f0f0; /* Fondo gris claro */
}

/* Asegurarte de que las tarjetas no se vean afectadas */
.card {
  background-color: #ffffff; /* Fondo blanco para las tarjetas */
  border: 1px solid #ddd;
}
